<% layout('layouts/boilerplate')%>
<style>
    .input-group-text, input, table tr th{
        background-color: #947c2c;
        border: 1px solid #947c2c !important;
    }
    .container .left{
        padding-left: 10vw;
        margin-top: -5vh;
    }
    .payments-rule, table td, th{
        font-size: x-small;
    }
    table td, th{
        padding: 3px 0;
    }
    #time_hrs::-webkit-inner-spin-button, 
    #time_hrs::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
</style>
<div class="vehicle-payment">
    <%- include('../layouts/header')%>

    <%- include('../layouts/navbar')%>

    <h2 class="text-center page-title">Fees Calculator</h2>

    <div class="container d-flex mt-5">
        <div class="col py-5 left">
            <form id="vehiclePaymentForm" action="/vehicle/receipt" method="post">
                <ul class="list-unstyled">
                    <% if (errMessage) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= errMessage %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>        
                        <% } %>
                    <b><li> 
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text fw-bold text-light" id="inputGroup-sizing-sm">Entry Point</span>
                            <input type="number" class="form-control" name="entry" id="entry" value="<%= entry %>" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly required>
                        </div>
                    </li></b>
                    <b><li>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text fw-bold text-light" id="inputGroup-sizing-sm">Vehicle Type</span>
                            <input type="text" class="form-control" name="vehicle_type" id="vehicle_type" value="<%= vehicleType %>" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly required>
                        </div>
                    </li></b>
                    <b><li>
                        <div class="input-group input-group-sm mb-3 d-flex">
                            <span class="input-group-text fw-bold text-light" id="inputGroup-sizing-sm">Time</span>
                            <input type="number" class="form-control" name="time_hrs" id="time_hrs" value="3" placeholder="Hours" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            <input type="number" class="form-control" name="time_mins" id="time_mins" value="0" placeholder="Minute" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </li></b>
                    <b><li>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text fw-bold text-light" id="inputGroup-sizing-sm">Hours</span>
                            <input type="number" class="form-control" name="hours_stay" id="hours_stay" value="3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
                        </div>
                    </li></b>
                    <b><li>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text fw-bold text-light" id="inputGroup-sizing-sm">Price (40PHP for 3 Hours  Flat Rate)</span>
                            <input type="number" class="form-control" name="rate" id="rate" value="40" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly required>
                        </div>
                    </li></b>
                    <b><li>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text fw-bold text-light" id="inputGroup-sizing-sm">Hourly Rate</span>
                            <input type="number" class="form-control" name="hourly_rate" id="hourly_rate" value="<%- hourlyRate%>" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
                        </div>
                    </li></b>
                    <div class="text-end">
                        <button class="btn btn-success" id="btn-payment-submit">Calculate</button>
                    </div>  
                </ul>
                <div>
                    <p class="fw-lighter fst-italic text-center m-5" style="font-size: small"> For parking that exceeds 24 hours, every full 24 hour chunk is charged 5,000 pesos regardless of vehicle type.</p>
                </div>
                <button id="btn-vpayment-submit" type="submit" class="btn d-none">button</button>
            </form>
        </div>
        <div class="col-5 px-5">
            <div class="border shadow py-3 px-3">
                <div class="text-center">
                    <h6 style="color: #7c6c2c;">Payment Matrix (PHP)</h6>
                </div>
                <table class="table table-hover table-sm text-center mt-4 table-bordered">
                    <thead>
                        <tr class="align-middle">
                            <th class="bg-dark" scope="col" class=""></th>
                            <th scope="col">Hourly</th>
                            <th scope="col">24 Hours</th>
                            <th scope="col">Exceed 24 Hours</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th scope="row">Small (SP)</th>
                            <td>20</td>
                            <td class="col-2" rowspan="3">5000</td>
                            <td rowspan="3">5000 + Hourly rate based from corresponding parking.</td>
                        </tr>
                        <tr>
                            <th scope="row">Medium (MP)</th>
                            <td>60</td>
                        </tr>
                        <tr>
                            <th scope="row">Large (LP)</th>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
                <div class="payments-rule">
                    <ul class="list-unstyled">
                        <li>
                            <p class="fw-lighter fst-italic">Vehicle leaving the parking complex and returning within one hour must be charged continuous rate,
                                i.e. the vehicle must be considered as if it did not leave. Otherwise, rates must be implemented as described.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer')%>
</div>

<script>
    $(document).ready(function() {
        var urlParams = new URLSearchParams(window.location.search);
        
        if(urlParams.has('vehicle_type')) {
            // window.location.href = '/entry';
            $('#entry').val(urlParams.get('entry'));
            $('#vehicle_type').val(urlParams.get('vehicle_type'));
            $('#hourly_rate').val(urlParams.get('hourly_rate'));
        }
        
        var paymentCont = $('.vehicle-payment');
        $('.payments-nav span').addClass(' active border-bottom border-3 border-warning text-warning fw-bold');

        $('#time_hrs').on('keyup', function() {
            $('#hours_stay').val($(this).val());
        })
        
        $('#btn-payment-submit').click(function() {
            $('#btn-vpayment-submit').trigger('click');
            $('.vehicle-payment h2').addClass('d-none');
            $('.vehicle-payment .container').addClass('d-flex justify-content-center').html(bigSpinner);
        })
    });
</script>